@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

  
.my-time-picker-popup button {
  background-color: #1890ff;
}

@media(max-width: 576px) { 
  .ant-picker-panels { 
    flex-direction: column;
  } 
}



/* .brdrs {
  border: 1px solid #DFE4EA;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */


